img {
    width: 200px;
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: aliceblue;
    color:rgb(1, 75, 194);
<<<<<<< HEAD
}

img {
    width: 200px;
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: aliceblue;
    color:rgb(23, 112, 255);
=======
>>>>>>> fb35069 (third commit)
    letter-spacing: 10cm;
}