img {
    width: 200px;
}
body {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    background: aliceblue;
    color:rgb(1, 75, 193);
}

a {
    color: rgb(1, 75, 193);
    /* Smooth change evry 2 seconds*/
    transition: color 2s ease; 
  }
  
  a:hover {
    color: red;
  }